# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# diff files
*.diff

# backup files
*~

# BertOS directories
images.sav
obj
Release
Debug
328P_16Mhz
*.bin
*.map
*.s19

